// Neon White:
$white: #efe;

// Neon Yellow:
$yellow: #ffff33;

// Neon Green:
$green: #00ff33;

// Neon Red:
$red: #ff0000;

// Neon Orange:
$orange: #ff6600;

// Neon Aqua:
$aqua: #00ffff;

// Neon Blue:
$blue: #0033ff;

// Neon Magenta:
$magenta: #ff00ff;

// Neon Pink:
$pink: #ff0099;

// Neon Purple:
$purple: #9d00ff;

$grey: #333933;
$grey-1:  #222922;
$black: #000000;

$colours: (
	yellow: $yellow,
	green: $green,
	red: $red,
	orange: $orange,
	aqua: $aqua,
	blue: $blue,
	magenta: $magenta,
	pink: $pink,
	purple: $purple,
);