// Neon White:
$white-neon: #efe;

// Neon Yellow:
$yellow-neon: #ffff33;

// Neon Green:
$green-neon: #00ff33;

// Neon Red:
$red-neon: #ff0000;

// Neon Orange:
$orange-neon: #ff6600;

// Neon Aqua:
$aqua-neon: #00ffff;

// Neon Blue:
$blue-neon: #0033ff;

// Neon Magenta:
$magenta-neon: #ff00ff;

// Neon Pink:
$pink-neon: #ff0099;

// Neon Purple:
$purple-neon: #9d00ff;

$grey: #333933;

$colours: (
	yellow: $yellow-neon,
	green: $green-neon,
	red: $red-neon,
	orange: $orange-neon,
	aqua: $aqua-neon,
	blue: $blue-neon,
	magenta: $magenta-neon,
	pink: $pink-neon,
	purple: $purple-neon,
);