@import "../utilities/colors";

$badge-radius: 4px !default;
$badge-background-color: $white;
$badge-font-size: 12px;
$badge-text: $grey;

.glower-badge {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 2em;
	color: $badge-text;
	line-height: 1.5;
	padding-left: 0.75em;
	padding-right: 0.75em;
	font-size: $badge-font-size;
	white-space: nowrap;
	background-color: $badge-background-color;
	border-radius: $badge-radius;
	border: 1px solid $button-color;
	@include glower($button-color);

	@each $name, $colour in $colours {
		&.#{$name} {
			color: $white;
			background-color: $colour;
			border: 1px solid $colour;
			box-shadow: inset 5px 5px 15px -2px transparent,
				inset 1px 0px 10px 0px $colour, 1px 0px 10px 0px $colour;
			@include glower($colour);
		}

		@if $name == yellow {
			&.yellow {
				color: $grey;
			}
		}
	}
}
