$button-color: #efe !default;
$basic-color: $green-neon;

$colours: (
	yellow: $yellow-neon,
	green: $green-neon,
	red: $red-neon,
	orange: $orange-neon,
	aqua: $aqua-neon,
	blue: $blue-neon,
	magenta: $magenta-neon,
	pink: $pink-neon,
	purple: $purple-neon
);

.glow {
	background: linear-gradient(#333933, #222922);
	border: 1px solid $button-color;
	box-shadow: inset 5px 5px 15px -2px rgba(0, 0, 0, 0),
		inset 1px 0px 10px 0px $button-color, 1px 0px 10px 0px $button-color;
	color: $button-color;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 200px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	outline: none;
}

@each $name, $colour in $colours {
	.#{$name}-neon {
		border: 1px solid $colour;
		box-shadow: inset 5px 5px 15px -2px rgba(0, 0, 0, 0),
			inset 1px 0px 10px 0px $colour, 1px 0px 10px 0px $colour;
	}
}
